body {
    margin: 0;
    padding: 0;
    background: url(https://img.search.brave.com/yiXUYCFi_qNL-71T0wxJNB1cYQDIY2Mkcoyjs_-iAl4/rs:fit:1200:1155:1/g:ce/aHR0cHM6Ly9wcmVw/cHl3YWxscGFwZXJz/LmNvbS93cC1jb250/ZW50L3VwbG9hZHMv/MjAxOC8wOC9IZWFk/ZXItVHJvcGljYWwt/aVBob25lLVdhbGxw/YXBlci1Db2xsZWN0/aW9uLWJ5LVByZXBw/eS1XYWxscGFwZXJz/LmpwZw) no-repeat;
    background-size: cover;
    justify-content: center;


}

.box {
    width: 670px;
    height: 410px;
    background: rgba(255, 255, 255, 0.664);
    
    padding: 40px;
    text-align: center;
   margin: auto;
    margin-top: 5%;
    color: rgb(0, 0, 0);
   font-family: 'Century Gothlic', sans-serif;
   box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3),
   -5px -5px 5px rgba(0, 0, 0, 0.2),
   -15px -15px 15px rgba(0, 0, 0, 0.2),

    


}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;

}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;


}
.box p{
    text-align: justify;
}
.img {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    align-items: center;
    margin-top: 1px;
   
    border-radius: 50%;

  
 
    width: 200px;
    height: 200px;
   
}
.box h5 {
    cursor: pointer;
    word-spacing: 1px;
}

h5 span {
    transition: 0.5s;
}

h5:hover span:nth-child(1)
{
    margin-right: 5px;
}
h5:hover span:nth-child(2)
{
    margin-left: 5px;
}
h5:hover span{
    color: #fff;
    text-shadow: 0 0 10px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255);
}
.box_1 {
    width: 270px;
    height: 385px;
    background: rgba(255, 255, 255, 0.664);

  


    
}





