body {
    margin: 0;
    padding: 0;
    background: url(https://img.search.brave.com/AzuvFl0HbQs8z-G_Y9_MgsmU4yqqONPGp_Uc2Y04GHk/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDQzOTIy/ODYuanBn) no-repeat;
    background-size: cover;
    justify-content: center;


}
.box {
    width: 650px;
    background: rgba(255, 255, 255, 0.664);
    
    padding: 40px;
    text-align: center;
   margin: auto;
    margin-top: 5%;
    color: rgb(0, 0, 0);
   font-family: 'Century Gothlic', sans-serif;

    


}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;

}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;


}
.box p{
    text-align: justify;
}
.img {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    border-radius: 50%;

  
 
    width: 200px;
    height: 200px;
   
}
.box h5 {
    cursor: pointer;
    word-spacing: 1px;
}

h5 span {
    transition: 0.5s;
}

h5:hover span:nth-child(1)
{
    margin-right: 5px;
}
h5:hover span:nth-child(2)
{
    margin-left: 5px;
}
h5:hover span{
    color: #fff;
    text-shadow: 0 0 10px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255);
}





